{{- $zero := "nil" -}}
{{- with .Builtin -}}
  {{- if eq .Name "integer" -}}
    {{- $zero = "0" -}}
  {{- else if eq .Name "positiveInt" -}}
    {{- $zero = "0" -}}
  {{- else if eq .Name "unsignedInt" -}}
    {{- $zero = "0" -}}
  {{- else if eq .Name "decimal" -}}
    {{- $zero = "0.0" -}}
  {{- else if eq .Name "boolean" -}}
    {{- $zero = "false" -}}
  {{- else -}}
    {{- $zero = "\"\"" -}}
  {{- end -}}
{{- end -}}
{{- $zero -}}
