{{- $type := "any" -}}
{{- with .Alternatives -}}
  {{- $type = (commonbase .).Name | pascalinitialcase | prepend "fhir." -}}
{{- else -}}
  {{- with .Builtin -}}
    {{- if eq .Name "integer" -}}
      {{- $type = "int32" -}}
    {{- else if eq .Name "positiveInt" -}}
      {{- $type = "uint32" -}}
    {{- else if eq .Name "unsignedInt" -}}
      {{- $type = "uint32" -}}
    {{- else if eq .Name "decimal" -}}
      {{- $type = "float64" -}}
    {{- else if eq .Name "boolean" -}}
      {{- $type = "bool" -}}
    {{- else -}}
      {{- $type = "string" -}}
    {{- end -}}
  {{- end -}}
  {{- with .Type -}}
    {{- $type = .Name | pascalinitialcase | replace "." "" -}}
    {{- if or (eq .Kind "primitive-type") (eq .Kind "complex-type") -}}
      {{- $type = $type | prepend "fhir." -}}
    {{- else if .IsAbstract -}}
      {{- $type = $type | prepend "fhir." -}}
    {{- end -}}
    {{- if not (.IsAbstract) -}}
      {{- $type = "*" | append $type -}}
    {{- end -}}
  {{- end -}}
  {{- if .IsList -}}
    {{- $type = "[]" | append $type -}}
  {{- end -}}
{{- end -}}
{{- $type -}}
